<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEntities" connectionString="metadata=res://*/dbModel.csdl|res://*/dbModel.ssdl|res://*/dbModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=saveus.myrpi.org;User Id=zemskm_dev;password=saveus123;Persist Security Info=True;database=zemskm_saveus;Connect Timeout=10&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>